body{background-color: white;
}
@keyframes color-change {
    0% {
      color: white;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}
p {
    animation: color-change 10s infinite;
}
